<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="zenQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="SCide.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="zenQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="zenQuery.Properties.Settings.config" connectionString="data source=F:\!projekty\zenquery\zenQuery\config.cfg" providerName="System.Data.SQLite"/>
	</connectionStrings>
	<applicationSettings>
		<zenQuery.Properties.Settings>
			<setting name="mssqlSearchText" serializeAs="String">
				<value>select syso.name from syscomments sysc  ,sysobjects syso
where syso.id = sysc.id 
and  text like '%[[objectname]]%' order by  syso.name</value>
			</setting>
		</zenQuery.Properties.Settings>
		<SCide.Properties.Settings>
			<setting name="SCide_com_sqlhere_formatSQL" serializeAs="String">
				<value>http://sqlhere.com/formatsql.asmx</value>
			</setting>
		</SCide.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<zenQuery.Properties.Settings>
			<setting name="mssqlSearchName" serializeAs="String">
				<value>select syso.name from sysobjects syso
where syso.name like '%[[objectname]]%' order by  syso.name</value>
			</setting>
		</zenQuery.Properties.Settings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.60.0" newVersion="1.0.60.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
